@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

}
.container {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    
}

h1 {
    font-size: 10em;
    font-family: 'Raleway', sans-serif;
}
